<div class='container'>
  <div class="media" ng-repeat='question in questions track by $index'>
    <div class="media-left">
      <a href="#">
        <img class="media-object gravImg" ng-src="{{question.gravatarUrl}}">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Question from {{question.username}}</h4>
      <div class='created-at'><strong>{{question.createdAt | timeInWords}}</strong></div>
      <div>{{question.body}}</div>
      <a class='btn btn-success btn-sm' ui-sref='question({slug: question.slug})'>Details</a>
      <button class="btn btn-danger btn-sm pull-right btn-delete" ng-click="deleteQuestion(question)" ng-if="currentUser.email === question.email">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <button class="btn btn-default btn-sm pull-right btn-edit" ng-click="editQuestion(question)" ng-if="currentUser.email === question.email">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>      
    </div>
  </div>
</div>